.feedPageContainer{
    /* border: 2pX solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tweetContainer{
    border: 2pX solid rgb(167, 164, 164);
    width: 500px;
    height: 20%;
    display: flex;
    margin-top: 5px;
    flex-direction: row;
    z-index: 10;
}
.feedContainer{
    border: 2px solid black;
    width: 500px;
    height: 200px;
}
.profilePicture{
    text-align: center;
    width:90px;
}
.tweetTextArea{
    width:98%;
    font-size: 24px;
    resize: none;
    height: 100px;
}
.tweetInformations{
    width:100%;
}
.tweetAddButtons{
    height: 30px;
}
.tweetButtons{
    background-color: transparent;
    border: none;
}
.deleteImage{
    top:25px;
}
.feedBody {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.feedBodyLeft {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: red;
}
.feedBodyCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 50%;
}
.feedBodyRight {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: red;
}